name: Tests

on:
  push:
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: pip install -r buildserver/requirements.txt pylint pre-commit

      - name: Check with pre-commit
        run: pre-commit run --all-files

      - name: Lint
        run: pylint --fail-under=7 buildserver/

      - name: Create env file
        run: echo "${{ secrets.DEV_ENV_FILE }}" > .env

      - name: Run unit tests
        run: pytest -v buildserver/tests/unit
